{% extends 'homepage/base.html' %}

{% load static %}

{% block title %}
    Восстановление пароля • L2Spike • Interlude • x50.000
{% endblock %}

{% block content %}

<main>
    <article>

    <!-- HERO -->

        <section class="section hero" id="home" aria-label="home" style="background-image: url('{% static 'homepage/assets/image/hero_bg.png' %}');">

            {% if messages %}

                    <div class="messages">
                        {% for mess in messages %}
                            <div class="alert"><span class="span">{{ mess }}</span>
                            </div>
                        {% endfor %}
                    </div>

            {% endif %}


            <div class="container">

                <div class="hero-content">

                    <!-- FORM_LOGIN -->
                
                    <section class="form_register" aria-label="form_login">
                                <div class="form_register-card">
                                    <h2 class="h2">
                                        <span class="span">Восстановление пароля</span>
                                    </h2>

                                    <form method="POST" class="form_register-form">
                                        {% csrf_token %}

                                        {{ form.as_p }}
                                        <button type="submit" class="btn form_register-btn skewBg">
                                            <span class="span">Восстановить пароль</span>
                                            <ion-icon name="log-in" aria-hidden="true"></ion-icon>
                                        </button>



                                        {% if form.non_field_errors %}
                                            <div class="error">
                                                {{ form.non_field_errors }}
                                            </div>
                                        {% endif %}

                                        <p>
                                            <div class="input-wrapper skewBg">
                                                {{ form.email }}
                                                <ion-icon name="mail-outline" aria-hidden="true"></ion-icon>
                                            </div>
                                            {% if form.email.errors %}
                                                <div class="error">{{ form.email.errors }}</div>
                                            {% endif %}
                                        </p>

                                        <button type="submit" class="btn form_register-btn skewBg">
                                            <span class="span">Запросить новый пароль</span>
                                            <ion-icon name="log-in" aria-hidden="true"></ion-icon>
                                        </button>
                                    </form>
                                </div>
                    </section>


                </div>

                <figure class="hero-banner img-holder" style="--width: 700 ;--height: 700 ;">
                    <img src="{% static 'homepage/assets/image/hero_banner1.png' %}" width="700" height="700" alt="hero banner" class="w-100">
                </figure>

            </div>
        </section>

<!-- SITE NAVIGATION-->


        <section class="navigation" aria-label="navigation">
            <div class="container">
        
                <div class="navigation-card">
        
                    <h2 class="h2">
                        Навигация <span class="span">Сайта</span>
                    </h2>
           
                </div>
        
            </div>
        </section>

<!--END SITE NAVIGATION-->

    </article>
</main>

{% endblock %}