{% extends 'homepage/base.html' %}

{% load static %}

{% block title %}
    Профиль • {{user.username}} • Interlude • x50.000
{% endblock %}

{% block content %}

    
    <main>
    <article>

    <!-- HERO -->

        <section class="section hero" id="home" aria-label="home" style="background-image: url('{% static 'homepage/assets/image/hero_bg.png' %}');">

            {% if messages %}

                    <div class="messages">
                        {% for mess in messages %}
                            <div class="alert"><span class="span">{{ mess }}</span>
                            </div>
                        {% endfor %}
                    </div>

            {% endif %}


            <div class="container">

                <div class="hero-content">

                    <!-- PROFILE -->

                    <section class="form_register" aria-label="form_register">
                        <div class="form_register-card">

                            {% if account %}
                                <h2 class="h2">
                                    <span class="span">Аккаунт: <p> {{ user.username }}</p></span>
                                </h2>

                                <div class="login-email">
                                    <span class="span">Логин: {{ account.login }}</span>
                                    <span class="span">Эмейл: {{ user.email }}</span>
                                </div>
                            {% else %}
                                <h2 class="h2">
                                    <span class="span">Аккаунт не создан</span>
                                </h2>
                            {% endif %}

                            {% if characters %}
                                <h2 class="h2">
                                    <span class="span">Персонажи:</span>
                                </h2>

                                <div class="login-characters">
                                    <ul>
                                        {% for character in characters %}
                                            <li class="span">{{ character.char_name }}</li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            {% else %}
                                <h2 class="h2">
                                    <span class="span">Персонажей не создано</span>
                                </h2>
                            {% endif %}

                        </div>
                    </section>


                </div>

                <figure class="hero-banner img-holder" style="--width: 700 ;--height: 700 ;">
                    <img src="{% static 'homepage/assets/image/hero_banner1.png' %}" width="700" height="700" alt="hero banner" class="w-100">
                </figure>

            </div>
        </section>

<!-- SITE NAVIGATION-->


        <section class="navigation" aria-label="navigation">
            <div class="container">
        
                <div class="navigation-card">
        
                    <h2 class="h2">
                        Навигация <span class="span">Сайта</span>
                    </h2>
           
                </div>
        
            </div>
        </section>

<!--END SITE NAVIGATION-->

    </article>
</main>
{% endblock %}