{% extends 'homepage/base.html' %}

{% load static %}

{% block title %}
    {{title}}
{% endblock %}

{% block content %}

<main>
    <article>

    <!-- HERO -->

        <section class="section hero" id="home" aria-label="home" style="background-image: url('{% static 'homepage/assets/image/hero_bg.png' %}');">
            <div class="container">

                <div class="hero-content">

                    <p class="hero-subtitle">Регистрация <span class="span">Lineage 2</span></p>

                </div>

                <figure class="hero-banner img-holder" style="--width: 700 ;--height: 700 ;">
                    <img src="{% static 'homepage/assets/image/hero_banner1.png' %}" width="700" height="700" alt="hero banner" class="w-100">
                </figure>

            </div>
        </section>


    </article>
</main>

{% endblock %}